<nav>
    <h1 class="no-select"> WarehouseDB </h1>
    <ul>
        <li><a href="/browse">Browse</a></li>
        <li><a href="/categories">Categories</a></li>
        <li><a href="/categories">About</a></li>
    </ul>
</nav>
