<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/styles.css">
  <title><%= title %></title>
</head>
<body>
  <%- include('./partials/navbar') %>
  <div class="body delete">
    <form class="delete-options" action="/categories/delete/<%= props.id %>" method="POST">
      <p>Are you sure you want to delete <b><%= props.category %></b>?</p>
        <div class="delete-actions">
            <button class="delete submit" type="submit">Delete</button>
            <a href="/categories">Cancel</a>
        </div>
      </form>
  </div>
</body>
</html>
