:root {
    --general-border-radius: 4px;

    --button-hover-bg: #bfbfbf;
}

body,
html {
    padding: 0px;
    margin: 0px;

    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
}

nav {
    position: sticky;
    z-index: 10;
    top: 0px;

    display: flex;
    justify-content: space-between;
    align-items: stretch;

    padding: 4px 48px;

    background-color: #fafafa;

    box-shadow:
        1px 0px 4px 2px rgba(112, 128, 144, 0.3),
        1px 0px 12px 6px rgba(192, 192, 192, 0.1);
}

nav > h1 {
    color: #2b2b2b;
    margin: 4px 0px;
}

nav > ul {
    position: inline;
    align-items: stretch;
    gap: 4px;

    display: flex;
    flex-direction: row;

    list-style-type: none;
}

.body.index {
    flex: 1 auto;

    padding: 12px 96px;

    color: #474747;

    h2 {
        font-size: 4rem;
    }

    a {
        font-size: 2.2rem;
        font-weight: 500;

        background-color: lightgray;
    }

    a:hover {
        background-color: var(--button-hover-bg);
    }
}

a,
a:link {
    padding: 8px 16px;
    border: 0px;
    border-radius: var(--general-border-radius);

    text-decoration: none;

    color: inherit;

    transition: background-color 200ms ease;
}

a:hover,
button:hover {
    background-color: var(--button-hover-bg);
}

.no-select {
    user-select: none;
}

.body.browse {
    padding: 22px 96px 12px 300px;

    display: flex;
    gap: 32px;
}

.results-area {
    margin: auto;
}

.results {
    width: 750px;

    table-layout: fixed;
    border-spacing: 0;

    font-size: 1.2rem;
    font-weight: inherit;

    th {
        padding: 8px;

        font-size: 1.3rem;
    }
}

.result-entry {
    .result-info.name {
        border-left: 1px solid rgba(112, 128, 144, 1);
    }

    .result-info.quantity {
        border-right: 1px solid rgba(112, 128, 144, 1);
    }
}

.result-entry:hover {
    .action {
        display: inline;
    }
}

.even {
    background-color: #fafafa;
}

.result-entry.first {
    .result-info {
        border-top: 1px solid rgba(112, 128, 144, 1);
    }

    .result-info.name {
        border-top-left-radius: 8px;
    }

    .result-info.quantity {
        border-top-right-radius: 8px;
    }
}

.result-entry.last {
    .result-info {
        border-bottom: 1px solid rgba(112, 128, 144, 1);
    }

    .result-info.name {
        border-bottom-left-radius: 8px;
    }

    .result-info.quantity {
        border-bottom-right-radius: 8px;
    }
}

.result-info {
    text-align: center;

    padding: 8px;
}

.result-info.name {
    text-align: left;
}

.name {
    width: 400px;
}

.browse-options {
    position: fixed;
    top: 128px;
    left: 96px;

    width: 250px;

    display: flex;
    flex-direction: column;
    gap: 4px;

    padding: 8px 16px;
    border-radius: var(--general-border-radius);

    background-color: #fafafa;
}

.option-header {
    margin: 0px;
    margin-top: 4px;
    margin-bottom: 4px;

    font-size: 1.3rem;
}

label.option-header {
    margin: 0px;
}

.search {
    padding: 4px;
    border-radius: var(--general-border-radius);

    font-size: 1.2rem;
}

.option-entry {
    margin: 4px 4px 4px 16px;

    font-size: 1.1rem;
}

.submit {
    padding: 8px 24px;
    border: 0px;
    border-radius: var(--general-border-radius);
    margin: 8px auto;

    font-size: 1.3rem;

    background-color: lightgray;
}

.filter.submit {
    margin-bottom: 4px;
}

.action-col {
    width: 32px;

    text-align: center;

    background-color: white;
}

.action {
    display: none;

    border: 0px;
    padding: 4px;
    border-radius: 50%;

    background-color: lightgray;
}

.edit.action {
    width: 32px;
    aspect-ratio: 1/1;

    background-image: url("../icons/pencil.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}

.body.edit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-options {
    display: flex;
    flex-direction: column;

    table {
        table-layout: fixed;
        border-spacing: 0;

        padding: 12px;
        border-radius: var(--general-border-radius);
        margin-top: 24px;

        text-align: center;
        font-size: 1.2rem;
    }

    th {
        padding: 1.3rem;
    }

    th,
    td {
        padding: 8px;
    }

    input,
    select {
        padding: 4px;
        border-radius: var(--general-border-radius);

        font-size: inherit;
    }

    select {
        padding: 4px 8px;
    }
}

.edit-input {
    * {
        border-top: 1px solid rgba(112, 128, 144, 1);
        border-bottom: 1px solid rgba(112, 128, 144, 1);
    }

    *:first-child {
        border-top-left-radius: var(--general-border-radius);
        border-bottom-left-radius: var(--general-border-radius);
        border-left: 1px solid rgba(112, 128, 144, 1);
    }

    *:last-child {
        border-top-right-radius: var(--general-border-radius);
        border-bottom-right-radius: var(--general-border-radius);
        border-right: 1px solid rgba(112, 128, 144, 1);
    }

    #name {
        min-width: 100%;
    }
}
